@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");

body {
  font-family: Barlow, "sans-serif";
  line-height: 1.7;
}
/*Home Page */
.hero {
  background-image: url(../src/assets/images/landing.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  left: 0;
  background-color: rgba(21, 20, 51, 0.1);
  z-index: -1;
}

.home-text {
  color: whitesmoke;
}

.navbar-color {
  background-color: blue;
}

/*Registration */

.hero-registration-customer {
  background-image: url(../src/assets/images/register.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.base-sign-container {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.base-sign-container-login {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.social-sign {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

.link-style {
  padding-left: 10px;
}

.companyLogo {
  height: 160px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-title {
  font-weight: 500;
  font-size: 20px;
}

.form-control {
  padding-left: 175px;
  padding-right: 175px;
  border-radius: 6px;
}

.submit-tag:hover {
  background-color: rgba(102, 102, 231, 0.967);
  color: whitesmoke;
}

.hero-ad {
  padding-bottom: 20px;
}

.base-sign-container-ad {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 30px;
}

/*Ad */

.footer-top {
  padding-bottom: 90px;
  padding: 10px;
  background-color: white;
}

.footer-logo {
  height: 150px;
}

.text-position-about {
  padding: 60px 0;
  padding-right: 10%;
}

.text-position-contact {
  padding: 60px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Login*/

.hero-login {
  background-image: url(../src/assets/images/login.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

/*Ad images */

.ad_image {
  margin-left: 20px;
}

/* Create Ad */

.base-sign-container-create-ad {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-create-ad {
  background-color: lightblue;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.image-preview {
  border: dashed 1px lightgrey;
  border-radius: 8px;
  height: 200px;
  width: 225px;
  align-items: center;
  display: flex;
}

.description-input {
  height: 40px;

  margin-top: 10px;
}

.rent-input {
  margin-top: 10px;
}

.preview-paragraph {
  text-align: center;
  color: lightgrey;
}

input[type="file"] {
  display: none;
}

.upload-label {
  border-radius: 8px;
  color: white;
  height: 80px;
  width: 200px;
  background-color: skyblue;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-label:hover {
  background-color: rgba(34, 178, 235, 0.355);
}

.create-header {
  border-radius: 4px;
  background-color: rgba(102, 102, 231, 0.967);
  height: 4em;
  align-items: center;
  padding-top: 10px;
  color: rgb(254, 251, 251);
}

/* Registration Rental Agency */

.hero-registration-rental-agency {
  background-image: url(../src/assets/images/rental_agency.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.base-sign-container-login {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*Applicant Pages */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: whitesmoke;
  padding: 25px;
  transition: all 0.35 ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.verification_banner_true {
  border-radius: 3px;
  color: white;
  height: 40px;
  width: autopx;
  background-color: green !important;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verification_banner_false {
  border-radius: 3px;
  color: white;
  height: 40px;
  width: autopx;
  background-color: rgb(212, 56, 56) !important;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card Images */

.card-img-top {
  background: rgb(90, 90, 246);
  height: 60px;
}

.show-profile {
  border-radius: 6px;
  border-style: none;
  border: 1px solid grey;
  color: white;
  height: 40px;
  width: 200px;
  background-color: rgb(101, 194, 231);

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-profile:hover {
  background-color: rgba(102, 102, 231, 0.967);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.base-sign-container-applications {
  background-color: whitesmoke;
  opacity: 0.9;
  border-radius: 8px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.hero-create-applications {
  background-color: lightblue;
  border-radius: 6px;
}

.link-position {
  display: flex;
  justify-content: space-between !important;
  margin-left: 20px;
  margin-right: 20px;
}

/*Update Profile */

.upload-label-profile {
  border-radius: 8px;
  color: white;
  height: 40px;
  width: 200px;
  background-color: rgb(101, 194, 231);

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-preview-title {
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-weight: 300;
  font-size: 12;
  height: 40px;
  width: 215px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-label-profile-submit {
  border-radius: 8px;
  border-style: none;
  border: 1px solid lightgrey;
  color: white;
  height: 40px;
  width: 200px;
  background-color: rgba(102, 102, 231, 0.967);

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-padding {
  padding-left: 10px;
}

.name-updates {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}

.upload-label-profile-name {
  border-radius: 8px;
  border-style: none;
  border: 1px solid lightgrey;
  color: white;
  height: 42px;
  width: 177px;

  background-color: rgba(102, 102, 231, 0.967);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-position {
  display: flex;
  justify-content: space-evenly !important;
}

/*Profile Page */

.profile-border {
  height: 10em;
  width: 10em;
  border: 1px solid grey;
  background-color: transparent;
  border-radius: 50%;
}

.frame {
  display: flex;

  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6) !important;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-image: url("../src/assets/images/blue_background.webp");
  background-position: center;
  background-size: cover;
  margin: 5px;
}

.img-circle {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
